.item.description {
  padding: 5px;
  width: 200px;
  margin-bottom: 10px;
}

.item-completed:checked + .item-description {
  background: #009578;
  text-decoration: line-through;
}

#add {
  padding: 8px 14px;
  font-weight: bold;
  color: #fff;
  background: #eab676;
  cursor: pointer;
}

/*
html,
body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  text-align: center;
  justify-items: center;
  align-items: center;
  background-color: #eac276;
}

main {
  background-color: #eab676;
}
.container {
  padding: 20em;
  display: flex;
  width: 100%;
  justify-content: center;
}

.logo {
  grid-column: 2;
  max-height: 10rem;
}

*/

/*
Body, Header + Logo text is copied or inspired from Garrit's Hamster lessons
*/ ;
